<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h1>Tasks</h1>
        </div>
        <div class="card-body">
            
        </div>
        <div class="card-footer">
            <form action="/new-contact" method="POST">
                <div class="form-group">
                    <input type="text" name="firstname" placeholder="Firstname" class="form-control" autofocus>
                </div> 
            </form>
            <form action="">
                <div class="form-group">
                    <input type="text" name="lastname" placeholder="Last name" class="form-control" >
                </div> 
            </form>
            <form action="">
                <div class="form-group">
                    <input type="text" name="email" placeholder="Email" class="form-control" >
                </div> 
            </form>
            <form action="">
                <div class="form-group">
                    <input type="text" name="phone" placeholder="Phone" class="form-control" >
                </div> 
            </form>
            <button class="btn btn-primary btn-block">
                Add
            </button>
        </div>
    </div>
</div>  